/*========================================================================
//* ?                BornHack Media Archive CSS Styling
/*========================================================================**/

/* Add bootstrap to separate layer, allowing for more control and ability to override: */
@layer bootstrap, base;

@import url("/static/css/vendor/bootstrap-v5.3.3.bmacustom.css") layer(bootstrap);

/* Trying to make Bootstrap's collapse transition a bit smoother: */
@layer bootstrap {
  .collapse {
    transition: 0.4s ease-in-out;
  }
  .collapse:not(.show) {
    transition: 0.6s ease-in-out;
  }
}
/* Eeeeeverything else is in 'base' layer: */
@layer base {
/*--------------------------------------------
 *                Animations
 *         (and kinda accessibility) 
/*---------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {  
  .nav-link:hover {
      transform: scale(1.05);
      color:rgb(255, 255, 255);      
  }

  .bma-responsive-image:hover {
    img {
      transform: scale(1.055);
      zoom: 1.055;
      transition: all 0.25s ease-in-out;
    }
  }

  /* A F*cking TRANSITION BETWEEN VIEWS! How cool is that!?? */
  @view-transition {
    navigation: auto;
  }
}
/*--------------------------------------------
 *               Color Schemes
/*---------------------------------------------*/
@media (prefers-color-scheme: dark) {
  body {
    background: #152331;  /* fallback for old browsers */
    background: linear-gradient(to top, #000000, #152331);
    background: -webkit-linear-gradient(to top, #000000, #152331);
  }
  .navbar {
    background-color: rgba(14, 15, 16);
    backdrop-filter: blur(18px);
    text-rendering: optimizeLegibility;
  } 
}

@media (prefers-color-scheme: light) {
  body {
    background: #f5f7fa;  /* fallback for old browsers */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
  .navbar {
    background-color: rgba(14, 15, 16, 0.9);
    backdrop-filter: blur(18px);
    text-rendering: optimizeLegibility;
  }
}

nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

/* Make ~fancy~ corners */
/* Credit to: https://gist.github.com/pouyakary for squircles */
.squircle {
  --squircle-displacement:
      25pt;

  clip-path: shape(
    from 0 var(--squircle-displacement),
    curve to var(--squircle-displacement) 0 with 0 0 / 0 0,
    hline to calc(100% - var(--squircle-displacement)),
    curve to 100% var(--squircle-displacement) with 100% 0 / 100% 0,
    vline to calc(100% - var(--squircle-displacement)),
    curve to calc(100% - var(--squircle-displacement)) 100% with 100% 100% / 100% 100%,
    hline to var(--squircle-displacement),
    curve to 0 calc(100% - var(--squircle-displacement)) with 0 100% / 0 100%,
    close
  );
}


/* photoswipe captions start
 * https://photoswipe.com/caption/
 * */
.pswp__custom-caption {
  background: rgba(75, 150, 75, 0.75);
  font-size: 16px;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.hidden-caption-content {
  display: none;
}

.pswp__dynamic-caption--mobile {
    display: none;
}
/* photoswipe captions end */


/* photoswipe bullets start
 * https://photoswipe.com/adding-ui-elements/
 */
.pswp__bullets-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.pswp__bullet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
}
.pswp__bullet--active {
  background: green;
}
/* photoswipe bullets end */


/* photoswipe iframe styling start */
.pswp__document-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.pswp__document-container iframe {
  background: #444;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* photoswipe iframe styling end */

/* never break after fa icons */
:root {
  --fa-display: inline;
}

/* hover effect on thumbnails start */
div.image-hover {
  position: relative;
}
div.image-hover i {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
div.image-hover div {
  display: none;
  bottom: 5px;
  right: 10px;
  position: absolute;
}
div.image-hover:hover div {
  display: inline-block;
}
div.image-hover img:hover {
  opacity: 0.2;
  background-color: black;
}
div.image-hover.play:hover i::before{
  content: "\f144";
}
div.image-hover.zoom:hover i::before{
  content: "\f002";
}
/* hover effect on thumbnails end */

/* make navbar colors in darkmode */
/*@media (prefers-color-scheme: dark) { .bg-dark { background-color: var(--bs-gray-800) !important }}*/

/* File upload page floating delete action button */
.fab-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #dc3545; /* Bootstrap Danger color */
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    z-index: 250;
}
.fab-delete:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* remove dropzone preview background */
.dropzone .dz-preview.dz-image-preview{background: unset !important}

}