/* why is this here? */
main > .container {
    padding: 60px 15px 0;
}

/* photoswipe captions start
 * https://photoswipe.com/caption/
 * */
.pswp__custom-caption {
  background: rgba(75, 150, 75, 0.75);
  font-size: 16px;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.hidden-caption-content {
  display: none;
}

.pswp__dynamic-caption--mobile {
    display: none;
}
/* photoswipe captions end */


/* photoswipe bullets start
 * https://photoswipe.com/adding-ui-elements/
 */
.pswp__bullets-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.pswp__bullet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
}
.pswp__bullet--active {
  background: green;
}
/* photoswipe bullets end */


/* photoswipe iframe styling start */
.pswp__document-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.pswp__document-container iframe {
  background: #444;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* photoswipe iframe styling end */

/* never break after fa icons */
:root {
  --fa-display: inline;
}

/* hover effect on thumbnails start */
div.image-hover {
  position: relative;
}
div.image-hover i {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
div.image-hover img:hover {
  opacity: 0.2;
  background-color: black;
}
div.image-hover.play:hover i::before{
  content: "\f144";
}
div.image-hover.zoom:hover i::before{
  content: "\f002";
}
/* hover effect on thumbnails end */
