{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load pictures %}
{% load humanize %}
{% block title %}File details{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/vendor/plyr-v3.7.8.css' %}">
<script src="{% static "js/vendor/plyr-v3.7.8.js" %}"></script>
<script src="{% static "js/plyr.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-v5.4.4.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-dynamic-caption-plugin-v1.2.7.css' %}">
{% endblock extra_head %}

{% block main_content %}
  <div class="row">

    <div class="col-lg-9 col-sm-12">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">{{ file.filetype|capfirst }} {{ file.title }}</h5>
            </div>
            {% block file_detail %}
            {% endblock file_detail %}
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar start -->
    <div class="col-sm-12 col-lg-3">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ file.filetype|capfirst }} Information<a class="btn btn-secondary btn-xs float-end" href="{% url 'files:file_detail' file_uuid=file.uuid %}"><i class="{{ file.filetype_icon }}"></i> Show {{ file.filetype|capfirst }}</a></h5>
            </div>
            <div class="card-body">
              <div class="row justfiy-content-between">
                <div class="col-12">
                  <dl class="row mb-1">
                    <h5>CC Attribution</h5>
                    <dt class="col-sm-3 text-truncate">Title</dt>
                    <dd class="col-sm-9">{{ file.title }}</dd>

                    <dt class="col-sm-3">Attribution</dt>
                    <dd class="col-sm-9">{{ file.attribution }}</dd>

                    <dt class="col-sm-3">Source</dt>
                    <dd class="col-sm-9"><a href="{{ file.source }}">{{ file.source }}</a></dd>

                    <dt class="col-sm-3">License</dt>
                    <dd class="col-sm-9">{{ file.get_license_display }}</dd>

                    <h5>Downloads</h5>
                    <dt class="col-sm-3">Original File</dt>
                    <dd class="col-sm-9"><a class="btn btn-primary btn-sm" href="{{ file.original.url }}"><i class="fas fa-download"></i> download</a> ({{ file.file_size|intcomma }} bytes {{ file.mimetype }})</dd>

                    <h5>Metadata</h5>
                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9"><p>{{ file.description|default:"n/a" }}</p></dd>

                    <dt class="col-sm-3">Uploader</dt>
                    <dd class="col-sm-9"><a href="{{ file.uploader.get_absolute_url }}">{{ file.uploader }}</a></dd>

                    <dt class="col-sm-3 text-truncate">UUID</dt>
                    <dd class="col-sm-9">{{ file.uuid }}</dd>

                    <dt class="col-sm-3">Hits</dt>
                    <dd class="col-sm-9">{{ file.hits.count }}</dd>

                    <dt class="col-sm-3 text-truncate">Original Filename</dt>
                    <dd class="col-sm-9">{{ file.original_filename }}</dd>

                    <dt class="col-sm-3">Created</dt>
                    <dd class="col-sm-9">{{ file.created_at|date:"d/m/y-H:i:s" }}</dd>

                    <dt class="col-sm-3">Updated</dt>
                    <dd class="col-sm-9">{{ file.updated_at|date:"d/m/y-H:i:s" }}</dd>

                    <dt class="col-sm-3">Jobs</dt>
                    <dd class="col-sm-9"><a class="btn btn-primary btn-sm" href="{% url 'files:file_jobs' file_uuid=file.uuid %}">{{ file.jobs.count }}</a></dd>

                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- thumbnails -->
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">{{ file.filetype|capfirst }} Thumbnails<a class="btn btn-secondary btn-xs float-end" href="{% url 'files:file_thumbnails' file_uuid=file.uuid %}"><i class="fas fa-table-cells-large"></i> Show Thumbnails</a></h5>
            </div>
            <div class="card-body">
              <div class="row justfiy-content-between">
                <div class="col-12">
                  <table class="table table-responsive table-small">
                    <thead>
                      <tr><th>Ratio</th><th>Mimetype</th><th>Sizes</th></tr>
                    </thead>
                    <tbody>
                    {% for ratio, filetypes in file.get_thumbnails.items %}
                    {% for filetype, sizes in filetypes.items %}
                      <tr>
                        <td>{{ ratio|default:"Default" }}</td>
                        <td>{{ filetype }}</td>
                        <td>{% for width, thumbnail in sizes.items %}<a title="{{ thumbnail.imagefile.size|intcomma }} bytes" href="{{ thumbnail.imagefile.url }}">{{ width }}*{{ thumbnail.height }}</a> {% endfor %}</td>
                      </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- image versions -->
      {% if file.filetype == "image" %}
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Image Versions</h5>
            </div>
            <div class="card-body">
                <p>Original: <a href="{{ file.original.url }}">{{ file.width }}*{{ file.height }} AR {{ file.aspect_ratio }}</a> ({{ file.file_size|intcomma }} bytes {{ file.mimetype }})</p>
              <table class="table table-responsive table-small">
                <thead>
                  <tr><th>Ratio</th><th>Mimetype</th><th>Sizes</th></tr>
                </thead>
                <tbody>
                {% for ratio, mimetypes in file.get_versions.items %}
                  {% for mimetype, sizes in mimetypes.items %}
                  <tr>
                    <td>{{ ratio|default:"Default" }}</td>
                    <td>{{ mimetype }}</td>
                    <td>{% for width, version in sizes.items %}<a title="{{ version.imagefile.size|intcomma }} bytes" href="{{ version.imagefile.url }}">{{ width }}*{{ version.height }}</a> {% endfor %}</td>
                  </tr>
                  {% endfor %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Albums -->
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Albums<a class="btn btn-secondary btn-xs float-end" href="{% url 'albums:album_list' %}?files={{ file.uuid }}"><i class="fas fa-list"></i> Album List</a></h5>
            </div>
            <div class="card-body" style="max-height:25em; overflow-y:auto;">
              {% for album in file.active_albums_list %}
                <p><a href="{% url 'albums:album_detail' album_uuid=album.uuid %}">{{ album }}</a></p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- Tags -->
      <div class="row">
        <div class="col mb-3">
          <div id="tag-card" class="card">
            <div class="card-header">
                <h5 class="card-title">Tags<a class="btn btn-secondary btn-xs float-end" href="{% url 'files:file_tags' file_uuid=file.uuid %}"><i class="fas fa-list"></i> Tag List</a></h5>
            </div>
            <div class="card-body" style="max-height:25em; overflow-y:auto;">
              {% if file.tags.exists %}
              <p>
                {% if request.user.is_curator %}
                {% for tag in file.tags.all %}
                  {% if request.user.uuid in tag.tagger_uuids %}
                  <form method="POST" action="{% url 'files:file_tag_delete' file_uuid=file.pk tag_slug=tag.slug %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm" value="DELETE">{{ tag }} <i class="fas fa-minus"></i></button>
                  </form>
                  {% else %}
                  <form method="POST" action="{% url 'files:file_tag_create' file_uuid=file.pk %}" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="tags" value='"{{ tag.name }}"'>
                    <button type="submit" class="btn btn-secondary btn-sm">{{ tag }} <i class="fas fa-plus"></i></button>
                  </form>
                  {% endif %}
                {% endfor %}
                {% endif %}
              </p>
              <p><i>Click to tag or untag an existing tag. You can also <a href="{% url 'files:file_tag_create' file_uuid=file.uuid %}">add new tags</a></i></p>
              {% else %}
              <p>No tags yet. <a class="btn btn-success" href="{% url 'files:file_tag_create' file_uuid=file.uuid %}"><i class="fas fa-plus"></i> Add new tags</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>


      {% if file.filetype == "image" and file.exif %}
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Image Exif Data</h5>
            </div>
            <div class="card-body">
              <div class="row justfiy-content-between">
                <div class="col-12">
                  <pre>{{ file.exif | pprint }}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
<script type="module" src="{% static 'js/photoswipe.js' %}"></script>
{% endblock main_content %}
