{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load pictures %}
{% block title %}File details{% endblock title %}

{% block main_content %}

  <div class="row">

    <div class="col-lg-9 col-sm-12">
      <div class="row mb-3">
        <div class="col">
            <h3>{{ file.filetype|capfirst }} {{ file.title }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% picture file.original img_alt=file.title img_loading="lazy" img_class="img-fluid img-thumbnail" sm=12 lg=9 %}
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3">
      <div class="row mb-3">
        <div class="col d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownActionsButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownActionsButton1">
              <li><a class="dropdown-item" href="#">[Add to album]</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  <h5 class="card-title">Information</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row justfiy-content-between">
                <div class="col-12">
                  <dl class="row mb-1">
                    <dt class="col-sm-3 text-truncate">Title</dt>
                    <dd class="col-sm-9">{{ file.title }}</dd>

                    <dt class="col-sm-3 text-truncate">Original Dimensions</dt>
                    <dd class="col-sm-9">{{ file.width }}*{{ file.height }} (w*h)</dd>

                    <dt class="col-sm-3 text-truncate">UUID</dt>
                    <dd class="col-sm-9">{{ file.uuid }}</dd>

                    <dt class="col-sm-3">Uploader</dt>
                    <dd class="col-sm-9"><a href="{{ file.uploader.get_absolute_url }}">{{ file.uploader }}</a></dd>

                    <dt class="col-sm-3">Attribution</dt>
                    <dd class="col-sm-9">{{ file.attribution }}</dd>

                    <dt class="col-sm-3">Source</dt>
                    <dd class="col-sm-9"><a href="{{ file.source }}">{{ file.source }}</a></dd>

                    <dt class="col-sm-3">License</dt>
                    <dd class="col-sm-9">{{ file.get_license_display }}</dd>

                    <dt class="col-sm-3">Hits</dt>
                    <dd class="col-sm-9">{{ file.hits.count }}</dd>

                    <dt class="col-sm-3 text-truncate">Filename</dt>
                    <dd class="col-sm-9">{{ file.original_filename }}</dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9"><p>{{ file.description|default:"n/a" }}</p></dd>

                    <dt class="col-sm-3">Created</dt>
                    <dd class="col-sm-9">{{ file.created|date:"d/m/y-H:i:s" }}</dd>

                    <dt class="col-sm-3">Updated</dt>
                    <dd class="col-sm-9">{{ file.updated|date:"d/m/y-H:i:s" }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Albums</h5>
            </div>
            <div class="card-body" style="max-height:25em; overflow-y:auto;">
              {% for album in file.active_albums_list %}
                <p><a href="{% url 'albums:album_detail' album_uuid=album.uuid %}">{{ album }}</a></p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <div id="tag-card" class="card">
            <div class="card-header">
                <h5 class="card-title">Tags<a class="btn btn-secondary btn-xs float-end" href="{% url 'files:file_tags' file_uuid=file.uuid %}">Details</a></h5>
            </div>
            <div class="card-body" style="max-height:25em; overflow-y:auto;">
              {% if file.tags.exists %}
              <p>
                {% if request.user.is_curator %}
                {% for tag in file.tags.all %}
                  {% if request.user.uuid in tag.tagger_uuids %}
                  <form method="POST" action="{% url 'files:file_tag_delete' file_uuid=file.pk tag_slug=tag.slug %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm" value="DELETE">{{ tag }} <i class="fas fa-minus"></i></button>
                  </form>
                  {% else %}
                  <form method="POST" action="{% url 'files:file_tag_create' file_uuid=file.pk %}" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="tags" value='"{{ tag.name }}"'>
                    <button type="submit" class="btn btn-secondary btn-sm">{{ tag }} <i class="fas fa-plus"></i></button>
                  </form>
                  {% endif %}
                {% endfor %}
                {% endif %}
              </p>
              <p><i>Click to tag or untag an existing tag. You can also <a href="{% url 'files:file_tag_create' file_uuid=file.uuid %}">add new tags</a></i></p>
              {% else %}
              <p>No tags yet. <a class="btn btn-success" href="{% url 'files:file_tag_create' file_uuid=file.uuid %}"><i class="fas fa-plus"></i> Add new tags</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock main_content %}
