{% extends "file_detail.html" %}
{% block file_detail %}
<h1>Embedding {{ file.filetype|capfirst }} {{ file.title }}</h1>

<h2>Fancy Options</h2>
<table class="table">
  <tr>
    <th>BMA Widget Name</th>
    <th>Description</th>
    <th>Works Without JS</th>
    <th>Multiple Image Sizes</th>
    <th>Example</th>
    <th>Embed HTML</th>
    <th>&#123;% bma %&#125; Template Tag</th>
  </tr>

  {% for ratio, formats in file.get_thumbnails.items %}
  {% for format, sizes in formats.items %}
  {% for size in sizes %}
  <tr>
    <td><code>photoswipe</code></td>
    <td>
      <ul>
        <li> Uses <a href="https://photoswipe.com/" target="_blank">Photoswipe</a> for lightbox and zoom.
        <li> Uses a {{ size }}px thumbnail
        <li> Includes basic EXIF metadata for images in lightbox
      </ul>
    </td>
    <td><i class="fas fa-check text-success"></i> Yes</td>
    <td><i class="fas fa-check text-success"></i> Yes</td>
    {% noscript_embed basefile=file width=size ratio=ratio noscript=True prefix=prefix as embed %}
    {% photoswipe_embed uuid=file.pk counter=0 prefix=prefix as photoswipe %}
    <td>{{ embed|safe }}{{ photoswipe|safe }}</td>
    <td><code>{{ embed }}{{ photoswipe }}</code></td>
    <td><code>&#123;% bma "{{ file.pk }}" "photoswipe" {{ size}} "{{ ratio }}" %&#125;</code></td>
  </tr>
  {% endfor %}
  {% endfor %}
  {% endfor %}
</table>

<h2>Plain HTML Options</h2>
<div>
  <ul>
    <li> Uses a plain &lt;img&gt; element which is a link to the file detail page on BMA
    <li> Thumbnails are 50, 100, 150, 200, 300, or 400px wide. Sizes up to and including 200px has a double density 2x source included as well.
    <li> Thumbnail has aspect ratio <code>1/1</code>, <code>4/3</code>, <code>16/9</code>, or <code>2/3</code>
    <li> Thumbnail element includes file attribution and basic EXIF metadata in title as well as alt text
    <li> Thumbnail links back to the file on BMA
  </ul>
</div>

<table class="table">
  <tr>
    <th>Width</th>
    <th>Aspect Ratio</th>
    <th>File Type</th>
    <th>Example</th>
    <th>Embed Code</th>
  </tr>

  {% for ratio, formats in file.get_thumbnails.items %}
  {% for format, sizes in formats.items %}
  {% for size in sizes %}
  <tr>
    {% noscript_embed basefile=file width=size ratio=ratio noscript=False prefix=prefix as embed %}
    <td>{{ size }}px</td>
    <td>{{ ratio }}</td>
    <td>{{ format }}</td>
    <td>{{ embed|safe }}</td>
    <td><code>{{ embed }}</code></td>
  </tr>
  {% endfor %}
  {% endfor %}
  {% endfor %}

</table>
{% endblock file_detail %}
