{% extends "file_detail.html" %} 
{% load render_table from django_tables2 %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block title %}File jobs{% endblock title %}

{% block file_detail %}
<div class="card-body">
  <div class="row">
    <div class="col-2">
    {% include "includes/job_filter.html" %}
    </div>
    <div class="col-10">
      <div class="card">
        <h5 class="card-header">Jobs</h5>
        <div class="card-body">
          <div class="table-responsive">
          {% render_table table %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock file_detail %}
