{% extends "file_detail.html" %}
{% load humanize %}
{% block file_detail %}
<h1>Embedding {{ file.filetype|capfirst }} {{ file.title }}</h1>
<p class="lead">This page contains information on embedding this file.</p>

<h2>Fancy Options</h2>
<p class="lead">The fancy options all load lots of markup and javascript. They require a modern browser to get the full effect. Fallbacks for noscript users are provided when possible.</p>

<h3>Photoswipe</h3>
<p>The <code>photoswipe</code> widget is full-featured with responsive image sizes, lightbox, large picture zooming and scrolling, slideshow, fullscreen, video and audio player, and file attribution and metadata. It also includes a fallback to a simple &lt;img&gt; tag for noscript users.</p>

<table class="table table-hover">
  <thead><tr>
    <th>Aspect Ratio</th>
    <th>File Type</th>
    <th>400px Wide</th>
    <th>300px Wide</th>
    <th>200px Wide</th>
    <th>150px Wide</th>
    <th>100px Wide</th>
    <th>50px Wide</th>
  </tr></thead>
  <tbody>
  {% for ratio, filetypes in file.get_thumbnails.items %}
    {% for filetype, sizes in filetypes.items %}
    <tr>
      <td>{{ ratio|default:"Original" }}</td>
      <td>{{ filetype }}</td>
      {% for width, thumbnail in sizes.items %}
        {% noscript_embed basefile=file width=width ratio=ratio noscript=True prefix=prefix as embed %}
        {% photoswipe_embed uuid=file.pk counter=0 prefix=prefix width=width ratio=ratio as photoswipe %}
        <td class="align-top overflow-auto">{{ embed|safe }}{{ photoswipe|safe }}<br><code>{{ embed }}{{ photoswipe }}</code></td>
      {% endfor %}
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>

<h2>Plain HTML Options</h2>
<p class="lead">The plain HTML options all load minimal markup, work without javascript, are accessible and should work with old browsers.</p>
<div>
  <ul>
    <li> Uses a plain &lt;img&gt; element which is a link to the file detail page on BMA
    <li> Thumbnails are 50, 100, 150, 200, 300, or 400px wide. Sizes up to and including 200px has a double density 2x source included as well.
    <li> Thumbnail has aspect ratio <code>1/1</code>, <code>4/3</code>, <code>16/9</code>, or <code>2/3</code>
    <li> Thumbnail element includes file attribution and basic EXIF metadata in title as well as alt text
    <li> Thumbnail links back to the file on BMA
  </ul>
</div>

<table class="table">
  <thead><tr>
    <th>Aspect Ratio</th>
    <th>File Type</th>
    <th>400px Wide</th>
    <th>300px Wide</th>
    <th>200px Wide</th>
    <th>150px Wide</th>
    <th>100px Wide</th>
    <th>50px Wide</th>
  </tr></thead>
  <tbody>
  {% for ratio, filetypes in file.get_thumbnails.items %}
    {% for filetype, sizes in filetypes.items %}
    <tr>
      <td>{{ ratio|default:"Original" }}</td>
      <td>{{ filetype }}</td>
      {% for size in sizes %}

      {% noscript_embed basefile=file width=size ratio=ratio noscript=False prefix=prefix as embed %}
      <td>{{ embed|safe }}<br><code>{{ embed }}</code></td>
      {% endfor %}
    </tr>
  {% endfor %}
  {% endfor %}
  </tbody>
</table>
{% endblock file_detail %}
