{% extends "file_detail.html" %}
{% load django_bootstrap5 %}

{% block title %}File Tags{% endblock title %}

{% block file_detail %}
<h1>{{ file.filetype|capfirst }} {{ file.title }} Tags</h1>
<div class="row">

  <!-- tag filter sidebar start -->
  <div class="col-3xl-2 col-12 collapse collapse-horizontal" id="TagFilters">
  {% include "includes/tag_filter.html" %}
  </div>
  <!-- tag filter sidebar end -->

  <!-- Main content start -->
  <div class="col">
    {% include "includes/tag_list_table.html" %}
  </div>
  <!-- Main content end -->
</div>
{% endblock file_detail %}
