{% extends "manage_base.html" %}
{% load bootstrap5 %}
{% block title %}Upload Files{% endblock title %}

{% block manage_content %}
  <h3>Upload Files</h3>
  <div class="upload__box">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button onclick="uploadFiles();">Upload</button>
    <div class="row gy-4 upload__img-wrap"></div>
  </div>

  {# the preview template #}
  <template id="preview-template">
    <div class='col-sm-3'>
      <div class='card h-100 w-20'>
        <div class='card-body'>
          <h5 class='card-title'>NEEDS TITLE</h5>
          <p class='card-text'>NEEDS TEXT</p>
        </div>
        <div class='card-footer'>
          <small class='text-muted'>NEEDS TEXT</small>
        </div>
      </div>
    </div>
  </template>

{% endblock manage_content %}
