{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Upload Files{% endblock title %}

{% block content %}
  <div class="row d-flex justify-content-end align-items-start">
    <div class="col-lg-6 col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Upload</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col mt-3">
                <p class="fs-3">Metadata</p>
                {% csrf_token %}
                {% for field in form %}
                  {% if field.name != "files" %}
                    {% bootstrap_field field %}
                  {% endif %}
                {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col mt-3">
                <p class="fs-3">Files</p>
                {% csrf_token %}
                {% for field in form %}
                  {% if field.name == "files" %}
                    {% bootstrap_field field %}
                  {% endif %}
                {% endfor %}
                <small class="text-muted">* Required</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div id="preview-wrapper" class="row gy-3"></div>
            </div>
          </div>
        </div>
        <div class="card-footer">
            <button id="btnupload" onclick="uploadFiles()" class="btn btn-success" disabled>Upload files</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">License explainer</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col mt-3">
              <ul>
                <li>CC0 1.0 Universal</li>
                <ul>
                  <li>By marking the work with a CC0 public domain
                 dedication, the creator is giving up their copyright and allowing reusers to
                 distribute, remix, adapt, and build upon the material in any medium or format, even
                 for commercial purposes.</li>
                </ul>
                <li>Creative Commons Attribution 4.0 International</li>
                <ul>
                  <li>Requires that reusers give credit to the creator. It allows reusers to distribute,
                 remix, adapt, and build upon the material in any medium or format, even for commercial
                 purposes.</li>
                </ul>
                <li>Creative Commons Attribution-ShareAlike 4.0 International</li>
                <ul>
                  <li>Requires that reusers give credit to the creator. It allows reusers to
                 distribute, remix, adapt, and build upon the material in any medium or format, even
                 for commercial purposes. If others remix, adapt, or build upon the material, they must
                 license the modified material under identical terms.</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {# the preview template #}
  <template id="preview-template">
    <div class='col-sm-4 preview'>
      <div class='card h-100'>
        <div class='card-body'>
          <h5 class='card-title'></h5>
          <p class='card-text'></p>
        </div>
        <div class='card-footer'>
          <p>
            {# shown before upload #}
            <i class="fas fa-info d-none"></i>
            {# shown during upload #}
            <i class="fas fa-spinner fa-spin d-none"></i>
            {# shown after upload success #}
            <i class="fas fa-check d-none"></i>
            {# shown after upload failure #}
            <i class="fas fa-exclamation-times d-none"></i>
            <span class="message"></span>
          </p>
        </div>
      </div>
    </div>
  </template>

{% endblock content %}
