{% load static %}
{% load django_bootstrap5 %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Untitled page{% endblock %} - BornHack Media Archive</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}

    <!-- FontAwesome CSS -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom stylesheets -->
    <link href="{% static "css/bma.css" %}" rel="stylesheet">

    <!-- https://datatables.net/ -->
    <link href="{% static "css/vendor/dataTables.1.12.1.min.css" %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static "js/vendor/jquery-3.6.0.min.js" %}"></script>

    <!-- https://datatables.net/ -->
    <script src="{% static "js/vendor/jquery.dataTables.1.12.1.min.js" %}"></script>

    <!-- bootstrap -->
    {% bootstrap_javascript %}

    <!-- htmx -->
    <script src="{% static "js/vendor/htmx.v1.8.0.min.js" %}" defer></script>
    {% django_htmx_script %}

    <script src="{% static "js/vendor/spotlight.v0.7.8.bundle.js" %}" defer></script>

    <!-- https://github.com/Mobius1/Selectable -->
    <script type="text/javascript" src="{% static "js/vendor/selectable.min.js" %}"></script>

    <!-- Custom javascript -->
    <script src="{% static "js/bma.js" %}"></script>

    <!-- bma filebrowser -->
    <script type="module" src="{% static "js/filebrowser.js" %}"></script>
    <link href="{% static "css/filebrowser.css" %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100 bma-no-js {% block body-extra-classes %}{% endblock %}" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% block body %}
      <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img class="d-inline-block" src="{% static 'images/logo_wide_white_500_RGB.png' %}" width="135">
              <span class="align-middle font-weight-bold"> Media Archive</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  {% if request.resolver_match.url_name == "frontpage" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'frontpage:frontpage' %}">Frontpage</a>
                  {% else %}
                    <a class="nav-link" href="{% url 'frontpage:frontpage' %}">Frontpage</a>
                  {% endif %}
                </li>

                <li class="nav-item">
                  {% if request.resolver_match.url_name == "browse" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'files:browse' %}">File Browser</a>
                  {% else %}
                    <a class="nav-link" href="{% url 'files:browse' %}">File Browser</a>
                  {% endif %}
                </li>

                {% if not user.is_anonymous %}
                  <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle active">
                      File manager
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'files:upload' %}">Upload</a></li>
                      <li><a class="dropdown-item" href="{% url 'files:manage' %}">Manage</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'pictures:manage' %}">Pictures</a></li>
                      <li><a class="dropdown-item" href="{% url 'videos:manage' %}">Videos</a></li>
                      <li><a class="dropdown-item" href="{% url 'audios:manage' %}">Audios</a></li>
                      <li><a class="dropdown-item" href="{% url 'documents:manage' %}">Documents</a></li>
                    </ul>
                  </li>
                {% endif %}

                {% if user.is_anonymous %}
                  <li class="nav-item">
                    {% if request.resolver_match.url_name == "account_login" %}
                      <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
                    {% else %}
                      <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                  </li>
                {% else %}
                  <li class="nav-item">
                    {% if request.resolver_match.url_name == "account_logout" %}
                      <a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                      <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    {% endif %}
                  </li>
                {% endif %}

              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>

      <main class="flex-shrink-0">
        <div class="container-fluid mt-5 pt-5">
          {% bootstrap_messages %}
          <!-- Begin page content -->
          {% block content %}
            <p class="lead">This is the default content of the block 'body' in the base.html template of the BMA project. Please replace in templates inheriting from base.html</p>
          {% endblock content %}
        </div>
      </main>

      <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Git Commit: <a href="https://github.com/bornhack/bma/commit/{{ request.revision }}" target="_blank">{{ request.revision }}</a> - Tag: {{ request.tag }}</span>
          <span>| <a href="https://bornhack.dk/privacy-policy/">Privacy policy</a></span>
          <span>| <a href="https://bornhack.dk/contact/">Contact</a></span>
        </div>
      </footer>
    {% endblock body %}
  </body>
</html>
