{% load static %}
{% load django_bootstrap5 %}
{% load django_htmx %}
{% load bma_utils %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="color-scheme" content="dark light">
    <title>{% block title %}Untitled page{% endblock %} - BornHack Media Archive</title>

    <!-- Bootstrap CSS -->
    {# {% bootstrap_css %} #}

    <!-- FontAwesome CSS -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom stylesheets -->
    <link href="{% static "css/bma.css" %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static "js/vendor/jquery-3.6.0.min.js" %}"></script>

    <!-- bootstrap JS -->
    {% bootstrap_javascript %}

    <!-- htmx -->
    <script src="{% static "js/vendor/htmx/htmx.v1.8.0.min.js" %}" defer></script>
    {% django_htmx_script %}
    <!-- https://htmx.org/extensions/json-enc/ -->
    <script src="{% static 'js/vendor/htmx/json-enc.js' %}" defer></script>

    <!-- Custom javascript -->
    <script src="{% static "js/bma.js" %}" defer></script>

    <!-- BMA version -->
    {{ bma_version|json_script:"bma-version" }}

    {% block extra_head %}{% endblock %}
  </head>

  <body class="bma-no-js min-h100dvh pt-5 {% block body-extra-classes %}{% endblock %}" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' hx-ext="json-enc">
    
    <header>
      {% include "includes/navbar.html" %}
    </header>

      <main class="container col-lg-10 col- pt-4">
      {% bootstrap_messages %}
      <!-- Begin page content -->
      {% block main_content %}
      <p class="lead">This is the default content of the block 'body' in the base.html template of the BMA project. Please replace in templates inheriting from base.html</p>
      {% endblock main_content %}
      </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">BMA Version {{ bma_version }}</span>
        <span>| <a href="https://bornhack.dk/privacy-policy/">Privacy policy</a></span>
        <span>| <a href="https://bornhack.dk/contact/">Contact</a></span>
      </div>
    </footer>
    
  </body>
</html>