{% extends "includes/iframe.html" %}
{% load humanize static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-v5.4.4.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-dynamic-caption-plugin-v1.2.7.css' %}">
{% endblock extra_head %}

{% block main_content %}
<div class="row">
  {% csrf_token %}
  <div class="pswp-gallery" id="gallery">
  {% for file in files %}
    {% include "includes/file_thumbnail_pswp.html" with record=file width=150 ratio="1/1" %}
  {% endfor %}
  </div>
</div>
{% endblock main_content %}
