{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Galleries{% endblock title %}

{% block content %}
  <h3>Gallery List</h3>
  <p class="lead">A gallery is a collection of photos, videos and/or audio files. Only images are supported for now.</p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>User</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      {% for gallery in gallery_list %}
        <tr>
          <td>{{ gallery.name }}</td>
          <td>{{ gallery.owner.public_credit_name|default:"Unnamed" }}</td>
          <td>{{ gallery.gallery_photos.count }}</td>
          <td>
            <img src="{{ gallery.gallery_photos.first.small_thumbnail.url }}" alt="{{ gallery.gallery_photos.first.original_filename }}" class="img-thumbnail">
            <img src="{{ gallery.gallery_photos.last.small_thumbnail.url }}" alt="{{ gallery.gallery_photos.last.original_filename }}" class="img-thumbnail">
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
