{% extends "manage_base.html" %}
{% load bootstrap5 %}
{% block title %}Manage Galleries{% endblock title %}

{% block manage_content %}
  <h3>Gallery List</h3>
  <p class="lead">This table is a list of all the galleries you have access to manage.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Attribution</th>
          <th>License</th>
          <th>Created / Updated</th>
          <th>Files</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for gallery in gallery_list %}
          <tr>
            <td><a href="{% url 'galleries:gallery_manage_detail' slug=gallery.slug %}">{{ gallery.name }}</a></td>
            <td>{{ gallery.attribution }}</td>
            <td>{{ gallery.get_license_display }}</td>
            <td>
              <b>Created:</b><br>
              {{ gallery.created }}<br>
              <b>Updated:</b><br>
              {{ gallery.updated }}<br>
            </td>
            <td>
              Pictures: {{ gallery.pictures.count }}<br>
              Videos: {{ gallery.videos.count }}<br>
              Audios: {{ gallery.audios.count }}<br>
              Documents: {{ gallery.documents.count }}<br>
            </td>
            <td>{{ gallery.get_status_display }}</td>
            <td>
              <div class="btn-group-vertical" role="group" aria-label="Gallery action buttons">
                <a href="{% url 'galleries:gallery_manage_detail' slug=gallery.slug %}" class="btn btn-primary">Details</a>
                <a href="{% url 'galleries:gallery_manage_update' slug=gallery.slug %}" class="btn btn-primary">Update</a>
                {% if gallery.status == "PUBLISHED" %}
                  <a href="{% url 'galleries:gallery_manage_unpublish' slug=gallery.slug %}" class="btn btn-warning">Unpublish</a>
                {% endif %}
                {% if gallery.status == "UNPUBLISHED" %}
                  <a href="{% url 'galleries:gallery_manage_publish' slug=gallery.slug %}" class="btn btn-primary">Publish</a>
                {% endif %}
                {% if not gallery.status == "PENDING_DELETION" %}
                  <a class="btn btn-danger">Delete</a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock manage_content %}
