{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Galleries{% endblock title %}

{% block content %}
  <h3>Gallery List</h3>
  <p class="lead">A gallery is a collection of photos, videos, audio files, and/or pdf documents.</p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Creator</th>
        <th>License</th>
        <th>Files</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody>
      {% for gallery in gallery_list %}
        <tr>
          <td>{{ gallery.name }}</td>
          <td>{{ gallery.attribution }}</td>
          <td>{{ gallery.get_license_display }}</td>
          <td>
            Photos: {{ gallery.gallery_photos.count }}<br>
            Videos: {{ gallery.gallery_videos.count }}<br>
            Audios: {{ gallery.gallery_audios.count }}<br>
            Documents: {{ gallery.gallery_documents.count }}<br>
          </td>
          <td>
            <img src="{{ gallery.gallery_photos.first.small_thumbnail.url }}" alt="{{ gallery.gallery_photos.first.original_filename }}" class="img-thumbnail">
            <img src="{{ gallery.gallery_photos.last.small_thumbnail.url }}" alt="{{ gallery.gallery_photos.last.original_filename }}" class="img-thumbnail">
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
