{% extends "manage_base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}{{ gallery.name }}{% endblock title %}

{% block extra_head %}
  <script src="{% static 'js/vendor/spotlight.v0.7.8.bundle.js' %}"></script>
{% endblock %}

{% block manage_content %}
  <h3>Gallery <b>{{ gallery.name }}</b> by <b>{{ gallery.attribution }}</b></h3>
  <span class="badge bg-secondary fs-5"><i class="fas fa-file-image"></i> {{ gallery.pictures.count }} pictures</span>
  <span class="badge bg-secondary fs-5"><i class="fas fa-file-video"></i> {{ gallery.videos.count }} videos</span>
  <span class="badge bg-secondary fs-5"><i class="fas fa-file-audio"></i> {{ gallery.audios.count }} audios</span>
  <span class="badge bg-secondary fs-5"><i class="fas fa-file-lines"></i> {{ gallery.documents.count }} documents</span>
  <p class="lead">{{ gallery.description|default:"<i>This gallery has no description</i>" }}</p>
  <div class="album py-5 bg-light spotlight-group">
    <div class="container">

      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for gf in page_obj %}
          <div class="col">
            {% include "includes/"|add:gf.filetype|add:"_card.html" with file=gf %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock manage_content %}
