{% extends "manage_base.html" %}
{% load bootstrap5 %}
{% block title %}Really Publish Gallery {{ gallery.name }}?{% endblock title %}

{% block manage_content %}
  <h3>Really Publish Gallery {{ gallery.name }}?</h3>
  <p class="lead">Please confirm that you wish to publish the gallery <i>{{ gallery.name }}</i> ({{ gallery.uuid }}).</p>
  <p class="lead">The gallery contains {{ gallery.pictures.count }} pictures, {{ gallery.videos.count }} videos, {{ gallery.audios.count }} audios, and {{ gallery.documents.count }} documents.</p>
  <p class="lead">NOTE: All files in a published gallery are visible on the public internet (except for individual files that are not published). Do not publish a gallery unless you are ready for the world to see all the files in it.</p>
  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Publish</button>
    <a href="{% url 'galleries:gallery_manage_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock manage_content %}
