{% load static %}
<div style="display: none">
  <div id="{{ file.uuid }}" style="width: 100%; height: 100%">
    <figure>
      <figcaption>{{ file.title }}</figcaption>
      <audio controls src="{{ file.original.url }}">
        <a href="{{ file.original.url }}">Download audio</a>
      </audio>
    </figure>
  </div>
</div>

<div class="card shadow-sm">
  <p class="text-center mt-1"><a class="spotlight" data-media="node" data-src="#{{ file.uuid }}"><i class="fas fa-file-audio fa-10x card-img-top"></i></a></p>
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-file-audio fs-5"></i> {{ file.title }}</h5>
    <small class="text-muted">Tags</small>
    <div class="container">{% for tag in file.tags.all %}{{ tag }}{% empty %}<i>No tags found!</i>{% endfor %}</div>
  </div>
</div>
