{% extends "album_detail.html" %}
{% load pictures %}
{% block album_detail %}
      <div class="row mb-3">
        <div id="col-8 text-center">
          <div id="thumbnail-carousel" class="splide" aria-label="The carousel with thumbnails." >
            <div class="splide__track">
              <ul class="splide__list">
                {% for file in filter.qs %}
                <li class="splide__slide">
                  {% picture file.original img_alt=file.title img_class="img-thumbnail" sm=1 lg=1 %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="main-carousel" class="splide" aria-label="Album carousel">
          <div class="splide__track">
            <ul class="splide__list">
              {% for file in filter.qs %}
              <li class="splide__slide">
                  <div class="row">
                    <div id="col">
                      <div class="text-center">
                        {% picture file.original img_alt=file.title img_class="img-thumbnail" sm=12 lg=8 %}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-6">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>UUID</th>
                            <td>{{ file.pk }}</td>
                          </tr>
                          <tr>
                            <th>Title</th>
                            <td>{{ file.title }}</td>
                          </tr>
                          <tr>
                            <th>Attribution</th>
                            <td>{{ file.attribution }}</td>
                          </tr>
                          <tr>
                            <th>Source</th>
                            <td>
                              <a href="{{ file.source }}">{{ file.source }}</a>
                            </td>
                          </tr>
                          <tr>
                            <th>License</th>
                            <td>
                              <a href="{{ file.license_url }}" target="_blank">{{ file.license_name }}</a>
                            </td>
                          </tr>
                          <tr>
                            <th>Hits</th>
                            <td>
                              {{ file.hits.count }}
                            </td>
                          </tr>
                          <tr>
                            <th>Description</th>
                            <td>{{ file.description|default:"N/A" }}</td>
                          </tr>
                          <tr>
                              <th>{{ file.filetype|capfirst }} Tags <small><a href="{% url 'files:file_tags' file_uuid=file.pk %}">Details</a></th>
                            <td>
                            {% for tag in file.tags.all %}
                              <span class="badge bg-secondary">{{ tag }}</span>
                            {% empty %}
                            N/A
                            {% endfor %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
{% endblock album_detail %}
