{% extends "album_detail.html" %}
{% load humanize static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-v5.4.4.css' %}">
{% endblock extra_head %}

{% block album_detail %}
<div class="pswp-gallery pswp-gallery--single-column" id="gallery">
{% for file in filter.qs %}

{% if file.filetype == "image" %}
<a href="{{ file.original.url }}" data-pswp-width="{{ file.width }}"  data-pswp-height="{{ file.height }}"  data-pswp-type="image"  data-pswp-srcset="{% render_source_set field_file=file.original file_type="WEBP" max_width=4000 cols=12 %}">{% thumbnail file.thumbnail.source filetype=file.filetype width=200 ratio="1/1" %}</a>

{% elif file.filetype == "video" %}
{# Set max video player size to 1280x1024 #}
<a href="{{ file.original.url }}" data-pswp-type="video" data-pswp-width="1280" data-pswp-height="1024">{% thumbnail file.thumbnail.source filetype=file.filetype width=200 ratio="16/9" %}</a>

{% else %}
<a href="{{ file.original.url }}">
 {% thumbnail file.thumbnail.source filetype=file.filetype width=200 ratio="1/1" %}
</a>
{% endif %}
{% endfor %}
</div>
<script type="module" src="{% static 'js/photoswipe.js' %}"></script>
{% endblock album_detail %}
