{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}
{% block title %}Album list{% endblock title %}
{% block main_content %}
<section class="row">
    <!-- Sidebar with album filters start -->
    <aside id="AlbumFilters" class="col-md-4 collapse collapse-horizontal">
        {% include "includes/album_filters.html" %}
    </aside>
    <!-- Sidebar with album filters end -->

    <!-- Main content start -->
     <section class="col">
      <h1>Albums</h1>
      {% include "includes/album_list_table.html" %}
    <!-- Main content end -->
     </section>
  </section>
{% endblock main_content %}
