from pathlib import Path
from environs import Env

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent.parent

# read os.environ or .env file
env = Env()
env.read_env()

DJANGO_LOG_LEVEL = env.str("DJANGO_LOG_LEVEL", default="{{ django_loglevel }}")
BMA_LOG_LEVEL = env.str("DJANGO_BMA_LOG_LEVEL", default="{{ django_bma_loglevel }}")

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = env.str("DJANGO_SECRET_KEY", default="{{ django_secret_key }}")

# debug settings - remember to set allowed_hosts if debug is disabled
DEBUG = env.bool("DJANGO_DEBUG", default="{{ django_debug }}")
DEBUG_TOOLBAR = False
ALLOWED_HOSTS = env.list("DJANGO_ALLOWED_HOSTS", default="{{ django_allowed_hostnames|join(',')|default('127.0.0.1,localhost') }}")

# Database settings
DATABASES = {
    "default": env.dj_db_url("DJANGO_DATABASE_URL", default="postgres://{{ django_postgres_user }}:{{ django_postgres_password }}@{{ django_postgres_host }}/{{ django_postgres_dbname }}")
}

#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.sqlite3',
#        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
#    }
#}

# admin site url prefix, set to 'admin' for /admin/
ADMIN_PREFIX = env.str("DJANGO_ADMIN_PREFIX", default="{{ django_admin_prefix|default('admin') }}")

# secure cookies and proxy header
SESSION_COOKIE_SECURE = True
CSRF_COOKIE_SECURE = True
SECURE_PROXY_SSL_HEADER = ("HTTP_X_FORWARDED_PROTO", "https")

# uploaded or generated files are placed below MEDIA_ROOT
MEDIA_ROOT = Path(env.str("DJANGO_MEDIA_ROOT", default="{{ django_media_root }}"))

# auth server
OAUTH_SERVER_BASEURL=env.str("DJANGO_OAUTH_SERVER_BASEURL", default="https://bornhack.dk")

LICENSES=[
    ("cc-zero-1.0", "Creative Commons CC0 1.0 Universal"),
    ("cc-by-4.0", "Creative Commons Attribution 4.0 International"),
    ("cc-by-sa-4.0", "Creative Commons Attribution-ShareAlike 4.0 International"),
]

NGINX_PROXY=env.bool("DJANGO_NGINX_PROXY", default="{{ django_nginx_proxy }}")

ALLOWED_PICTURE_TYPES={
    "image/jpeg": ["jpg", "jpe", "jpeg"],
    "image/bmp": ["bmp"],
    "image/gif": ["gif"],
    "image/svg+xml": ["svg"],
    "image/tiff": ["tif", "tiff"],
    "image/png": ["png"],
}

ALLOWED_VIDEO_TYPES={
    "video/mpeg": ["mp2", "mpa", "mpe", "mpeg", "mpg", "mpv2"],
    "video/mp4": ["mp4"],
    "video/quicktime": ["mov", "qt"],
    "video/x-ms-asf": ["asf", "asr", "asx"],
}

ALLOWED_AUDIO_TYPES={
    "audio/basic": ["snd", "au"],
    "audio/mid": ["mid", "rmi"],
    "audio/mpeg": ["mp3"],
    "audio/x-aiff": ["aif", "aifc", "aiff"],
    "audio/x-pn-realaudio": ["ra", "ram"],
    "audio/x-wav": ["wav"],
}

ALLOWED_DOCUMENT_TYPES={
    "text/plain": ["txt"],
    "application/pdf": ["pdf"],
}

# LOGGING
DJANGO_LOG_LEVEL=env.str("DJANGO_LOG_LEVEL", default="{{ django_log_level }}")
BMA_LOG_LEVEL=env.str("BMA_LOG_LEVEL", default="{{ bma_log_level }}")

