{% extends "base.html" %}
{% load humanize static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-v5.4.4.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-dynamic-caption-plugin-v1.2.7.css' %}">
<script type="module" src="{% static 'js/photoswipe.js' %}"></script>
{% endblock extra_head %}


{% block title %}Frontpage{% endblock title %}

{% block main_content %}
  <div>
    <div class="row mt-5">
      {% if popular_images.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=image&sort=-hitcount">Popular images</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for image in popular_images %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=image width=200 ratio="1/1" %}
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ image.get_absolute_url }}" title="{{ image.title }}">{{ image.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if popular_documents.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=document&sort=-hitcount">Popular documents</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for document in popular_documents %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=document width=200 ratio="1/1" %} 
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ document.get_absolute_url }}" title="{{ document.title }}">{{ document.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if popular_videos.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=video&sort=-hitcount">Popular videos</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for video in popular_videos %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=video width=200 ratio="16/9" %}
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ video.get_absolute_url }}" title="{{ video.title }}">{{ video.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if popular_audios.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=audio&sort=-hitcount">Popular audios</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for audio in popular_audios %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=audio width=200 ratio="1/1" %}
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ audio.get_absolute_url }}" title="{{ audio.title }}">{{ audio.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="row mt-5">
      {% if last_images.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=image&sort=-created_at">Latest images</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for image in last_images %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=image width=200 ratio="1/1" %}
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ image.get_absolute_url }}" title="{{ image.title }}">{{ image.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if last_documents.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=document&sort=-created_at">Latest documents</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for document in last_documents %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=document width=200 ratio="1/1" %} 
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ document.get_absolute_url }}" title="{{ document.title }}">{{ document.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if last_videos.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=video&sort=-created_at">Latest videos</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for video in last_videos %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=video width=200 ratio="16/9" %}
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ video.get_absolute_url }}" title="{{ video.title }}">{{ video.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if last_audios.count > 0 %}
        <div class="col-md-6 col-lg-3 mb-4 pswp-gallery" id="gallery">
          <h4><a class="text-decoration-none link-opacity-50-hover link-body-emphasis" href="{% url 'files:file_list_grid' %}?file_types=audio&sort=-created_at">Latest audios</a></h4>
          <hr>
          <div class="row row-cols-2 row-cols-md-1 row-cols-xxl-2 row-cols-3xl-3 row-cols-4xl-6 g-3">
            {% for audio in last_audios %}
              <div class="{% if forloop.counter >= 7 %}d-none d-4xl-block {% endif %}col"> 
                {% include "includes/file_thumbnail_pswp.html" with record=audio width=200 ratio="1/1" %}
                <p class="text-truncate"><a class="text-decoration-none text-body" href="{{ audio.get_absolute_url }}" title="{{ audio.title }}">{{ audio.title }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock main_content %}
