{% extends "base.html" %}
{% load humanize static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-v5.4.4.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/photoswipe-dynamic-caption-plugin-v1.2.7.css' %}">
<script type="module" src="{% static 'js/photoswipe.js' %}"></script>
{% endblock extra_head %}

{% block title %}Frontpage{% endblock title %}

{% block main_content %}
<section class="row justify-content-center align-items-start">
  {# Responsive picture grid #}
  <section class="col-md-8">
    {% if popular_images %}
      <h4 class="py-4">
        <a class="text-decoration-none link-opacity-50-hover link-body-emphasis"
            href="{% url 'files:file_list_grid' %}?file_types=image&sort=-hitcount"
          >
            Popular images
        </a>
      </h4> 
      <figure
        class="row g-2 row-cols-3 row-cols-lg-4"
        id="gallery"
      >
        {% for image in popular_images %}
          <a class="gallerya"
            href="{{ image.fullsize_url }}"
            data-pswp-type="image"
            data-pswp-width="{{ image.width }}"
            data-pswp-height="{{ image.height }}"
            data-bma-file-uuid="{{ image.uuid }}"
            data-bma-file-orig-url="{{ image.original.url }}"
          >
            {% if forloop.counter <= 3 %}
              {% include "components/responsive_image.html" with image=image sizes="(min-width: 1400px) 16.667vw, (min-width: 1200px) 20vw, (min-width: 992px) 25vw, 33.333vw" alt="" loading="eager" fetchpriority="high" %}
            {% else %}
              {% include "components/responsive_image.html" with image=image sizes="(min-width: 1400px) 16.667vw, (min-width: 1200px) 20vw, (min-width: 992px) 25vw, 33.333vw" alt="" loading="eager" %}
            {% endif %}
            </a>
            {% include "includes/file_pswp_caption.html" with file=image %}
            {% comment %}<div
              class="pswp-caption-content d-none"
              data-bma-file-uuid="{{ image.uuid }}"
            >
            </div>{% endcomment %}
        {% endfor %}
      </figure>
    {% endif %}
    {% if latest_images %}
      <h4 class="py-4">
        <a class="text-decoration-none link-opacity-50-hover link-body-emphasis"
          href="{% url 'files:file_list_grid' %}?file_types=image&sort=-created_at"
        >
          Latest images
        </a>
        </h4>
        <figure
          class="row g-2 row-cols-3 row-cols-lg-4"
          id="gallery"
        >
          {% for image in latest_images %}
            <a class="gallerya"
              href="{{ image.fullsize_url }}"
              data-pswp-type="image"
              data-pswp-width="{{ image.width }}"
              data-pswp-height="{{ image.height }}"
              data-bma-file-uuid="{{ image.uuid }}"
              data-bma-file-orig-url="{{ image.original.url }}"
            >
                {% include "components/responsive_image.html" with image=image sizes="(min-width: 1400px) 16.667vw, (min-width: 1200px) 20vw, (min-width: 992px) 25vw, 33.333vw" loading="lazy" %}
              </a>
              {% include "includes/file_pswp_caption.html" with file=image %}
          {% endfor %}
          </figure>
    {% endif %}
    </section>
  <section class="col-md-4">
     <!-- Tags -->
      <a class="text-decoration-none link-opacity-50-hover link-body-emphasis" style="flex-basis: 100%"><h4 class="pt-4">Popular tags</h4></a>
      <div class="tags py-4">
      {% for tag in popular_tags %}
        {% csrf_token %}
        <a class="shadow btn btn-dark m-1" href="/files/table/?tagged_any={{ tag.name }}" role="button">#{{ tag.name }} <span class="badge text-bg-primary">{{ tag.tagged_file_count }}</span></a>
      {% endfor %}
      </div>
    </section>
</section>
{% endblock main_content %}
