{% load static %}
{% load bma_utils %}
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg shadow-lg fixed-top">
  <div class="col-lg-10 container-md text-center">
    <a class="navbar-brand" href="/">
      <img class="d-inline-block" src="{% static 'images/logo_bma_white.svg' %}" width="275">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {# files / albums / tags #}
        <a class="nav-link {% if request.resolver_match.url_name == "file_list_grid" %} active{% endif %}" href="{% url 'files:file_list' %}">Files</a>
        <a class="nav-link {% if request.resolver_match.url_name == "album_list" %} active{% endif %}" href="{% url 'albums:album_list' %}">Albums</a>
        <a class="nav-link {% if request.resolver_match.url_name == "tag_list" %} active{% endif %}" href="{% url 'tags:tag_list' %}">Tags</a>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {# login / logout link #}
      {% if request.user.is_anonymous %}
        <div class="nav-item navbar-nav"><a class="nav-link{% if request.resolver_match.url_name == "account_login" %} active{% endif %}" href="{% url 'account_login' %}">Login</a></div>
      {% else %}
        {# Large screen dropdown menu #}
        <div class="dropdown nav-item navbar-nav d-none d-lg-flex">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% get_group_icons request.user %} {{ request.user.handle }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_creator %}
              <a class="dropdown-item" href="{% url 'files:file_upload' %}"><i class="fas fa-fw fa-upload d-inline-block"></i> Upload Files</a>
            {% endif %}

            {% if request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-fw fa-hammer d-inline-block"></i> Django Admin</a>
            {% endif %}

            {% if request.user.is_creator or request.user.is_moderator %}
              <a class="dropdown-item" href="{% url 'file_admin:files_basefile_changelist' %}"><i class="fas fa-fw fa-solid fa-table-cells-column-lock d-inline-block"></i> Manage Files</a>
            {% endif %}

            <a class="dropdown-item" href="{% url 'users:user_profile' user_handle=request.user.handle %}"><i class="fas fa-fw fa-user d-inline-block"></i> Show Profile</a>
            <a class="dropdown-item" href="{% url 'user_settings' %}"><i class="fas fa-fw fa-cog d-inline-block"></i> Settings</a>
            <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-fw fa-sign-out d-inline-block"></i> Logout</a>
          </ul>
        </div>
        {# Small screen usermenu #}
        <div class="d-lg-none">
          <ul class="navbar-nav">
            <a class="nav-link" href="#">{% get_group_icons request.user %} {{ request.user.handle }}</a>
            {% if request.user.is_creator %}
              <a class="nav-link" href="{% url 'files:file_upload' %}"><i class="fas fa-fw fa-upload d-inline-block"></i> Upload Files</a>
            {% endif %}

            {% if request.user.is_staff %}
              <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-fw fa-hammer d-inline-block"></i> Django Admin</a>
            {% endif %}

            {% if request.user.is_creator or request.user.is_moderator %}
              <a class="nav-link" href="{% url 'file_admin:files_basefile_changelist' %}"><i class="fas fa-fw fa-solid fa-table-cells-column-lock d-inline-block"></i> Manage Files</a>
            {% endif %}

            <a class="nav-link" href="{% url 'users:user_profile' user_handle=request.user.handle %}"><i class="fas fa-fw fa-user d-inline-block"></i> Show Profile</a>
            <a class="nav-link" href="{% url 'user_settings' %}"><i class="fas fa-fw fa-cog d-inline-block"></i> User Settings</a>
            <a class="nav-link" href="{% url 'account_logout' %}"><i class="fas fa-fw fa-sign-out d-inline-block"></i> Logout</a>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</nav>